* {
  margin: 0;
  padding: 0;
  box-sizing: border-box ;
}

:root{
  --white-alpha-40: rgba(255, 255, 255, 0.40);
  --white-alpha-25: rgba(255, 255, 255, 0.40);
  --backdrope-filter-blur: blur(5px);
  --purple: #683043;
  --box-shadow: 0.5rem .5rem rgba(0,0,0,0.1);
}
.empty{
  text-align: center;
  text-transform: capitalize;
  font-size: 16px;
}

.message{
  text-align: center;
  margin: 2rem auto;
  font-size: 20px;
  background: var(--purple);  
  color: #fff;
  width: 50vw;
  padding: 1rem;
  border-radius: 5px;
}

.message i{
  cursor: pointer;
  float: right;
} a{
  text-decoration: none;
}
.container{
  background-image: url('images/main-image.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container form{
  width: 50vw;
  height: auto;
  margin: 0 auto;
  padding: 2rem;
  background: var(--white-alpha-25);
  border: 1px solid var(--white-alpha-40);
  backdrop-filter: var(--backdrope-filter-blur);
}
form input,
textarea{
  width: 100%;
  background: var(--white-alpha-25);
  padding: .7rem 1.4rem;
  outline: none;
  border: none;
  border-radius: 5px;
  margin: .5rem 0;
  padding-left: .5rem;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.40);
  font-size: 14px;
}
form .btn{
  cursor: pointer;
  background: #545bba;
  color: #fff;
  text-transform: uppercase;
}
form .btn:hover{
  background: transparent;
  border: 2px solid var(--purple);
  color: var(--purple)
}
.container h3{
  text-align: center;
  text-transform: uppercase;
  color:#545bba;
  margin: 1rem;
  
}

.btn2{
  color: var(--purple);
  text-transform: uppercase;
  border-radius: 5px;
  border: 1px solid var(--purple);
  padding: .5rem 2rem;
}
.btn2:hover{
  background: var(--purple);
  color: #fff;
}

.box-container{
  padding: 2% 8%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  justify-content: center;
  align-items: center;
}
.box-container .box{
  box-shadow: var(--box-shadow);
  padding: 1rem 0;
  background: var(--white-alpha-25);
  border: 2px solid var(--white-alpha-40);
  margin: 1rem;
  text-align: center;
  border-radius: 5px;
}

/*-----admin header-------*/

header{
  
  background: #fff;
  width: 100%;
  height:70px;
  padding: 1rem 0;
  box-shadow: var(--box-shadow);
  position: sticky;
  z-index: 1000;
}
.flex{
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 0 auto;
}
.logo{
  font-family: sans-serif;
  text-align: center;
  font-size: 1.5rem;

  color: #aa4ff3;
}
.logo span{
  color: #e382c5;
}
.navbar a{
  margin: 0 1rem;
  font-size: 1rem;
  color: #aa4ff3;
  text-transform: uppercase;
}
.navbar a:hover,
.header .icons i:hover{
  color: #c7b3f5;
}
.header .icons{
  display: flex;
}
.header .icons i{
  margin-left: 1.2rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: #aa4ff3;
}
#menu-btn{
  display: none;
}
.header .user-box{
  position: absolute;
  top: 150%;
  right: -10%;
  width: 18rem;
  padding: .7rem 1rem;
  background: #fff;
  box-shadow: var(--box-shadow);
  border-radius: 5px;
  text-transform: capitalize;
  color: #555;
  font-size: 12px;
  display: none;
  transition: .5s;
}
.header .user-box.active{
  display: block;
}
.header .user-box span{
  text-transform: capitalize;
  color:#aa4ff3;
  font-size: 14px;
}
.logout-btn{
  background: #c7b3f5;
  width: 14rem;
  height: 40px;
  padding:0;
  cursor: pointer;
  color: #aa4ff3;
  border-radius: 5px;
  border: none;
  outline: none;
  margin: 0 auto;
  margin-top: 1rem; 
  
}
.title{
  text-align: center;
  text-transform: uppercase;
  margin: 2rem 0;
  color: #545bba;
}
.box-container{
  padding: 2% 8%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  justify-content: center;
  align-items: center;
}
.box-container .box{
  box-shadow: var(--box-shadow);
  padding: 1rem 0;
  background: var(--white-alpha-25);
  border: 2px solid var(--white-alpha-40);
  margin: 1rem;
  text-align: center;
  border-radius: 5px;
}
.box-container .box h3{
  font: 3rem;
  color: #545bba;
}
.box-container .box p{
  font-size: 18px;
  text-transform: capitalize;
  margin: 1rem 0;
}
/*----------footer page--------------*/
.home-contact{
  padding: 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-size: cover;
  height: 50vh;
  background-image: url(images/images.jpg)
}
.home-contact h1{
  text-transform: uppercase;
  color: var(--purple);
  margin: 1.5rem;
}
.home-contact p{
  margin-bottom: 1rem;
}
.footer{
  background-image: url('images/shopmain2.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
}

.footer .inner-footer{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 10rem;
  padding-bottom: 2rem;
}
.footer .inner-footer .card{
  text-transform: capitalize;
  margin: .5rem;
}
.footer .inner-footer .card h3{
  font-weight: normal;
  text-transform: uppercase;
  padding-bottom: .5rem;
  position: relative;
}
.footer .inner-footer .card h3::before{
  position: absolute;
  content: '';
  width: 60%;
  height: 2px;
  background: var(--purple);
  bottom: 0;
  left: 0;
}
.footer .inner-footer .card h3::after{
  position: absolute;
  content: '';
  width: 10%;
  height: 5px;
  background: none;
  bottom: 0;
  right: 40%;
}
.footer .inner-footer .card li{
  cursor: pointer;
  line-height: 1.5;
  color: black;
}
.footer .inner-footer .card li:nth-child(1),
.footer .inner-footer .card p{
  margin-top: 1rem;
}
.footer .inner-footer .card .input-field input{
  width: 80%;
  box-shadow: none;
  border: 1px solid black;
  border-radius: unset;
  margin: 0;
  padding: .9rem 1rem;
}
.footer .inner-footer .card p{
  color: gray;
  margin-bottom: 1rem;
  font-size: 16px;
}
.footer .inner-footer .card .input-field i{
  color:#fff;
  background: var(--purple);
  border: 1px solid var(--purple);
  padding: .8rem 1rem;
  margin-left: -.4rem;
  cursor: pointer;
}



.footer .inner-footer .card li:hover{
  color: var(--purple);
}
.footer .inner-footer .social-links{
  margin-top: 1rem;
}
.footer .inner-footer .social-links i{
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border: 1px solid var(--purple);
  color: var(--purple);
  cursor: pointer;
  padding: .6rem;
  margin: .3rem 0;
  border-radius: 50%;
}
.footer .inner-footer .card .input-field i:hover{
  background: #fff;
  color: var(--purple);
}
.footer .inner-footer .social-links i:hover{
  background: var(--purple);
  color: #fff;
}
.bottom-footer{
  text-transform: uppercase;
  text-align: center;
  padding: 3rem 0;
  color: var(--purple);
  border: 1px solid gainsboro;
}

/*----------home section--------------*/




.slide-show-container{
 
  position: relative;
  height: 100%;
  width: 100%;
  
  
}
.wrapper-one,
.wrapper-two,
.wrapper-three{
  background-color: #eee;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  position: absolute;
  color: #fff;
  text-transform: capitalize;
}
.wrapper-one{
  background-image: url('images/flower-bouquet1.jpg');
}
.wrapper-two{
  background-image: url('images/flower-bouquet2.jpg');
  animation: slideTwoAnim 20s infinite;
}
.wrapper-three{
  background-image: url('images/flower-bouquet3.jpg');
  animation: slideThreeAnim 20s infinite;
}
.wrapper-text{
  font: 700 40px/1.4 Roboto;
  position: absolute;
  top: 50%;
  left: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}


@keyframes slideTwoAnim{
  0%{
    opacity: 0;
  }
  17%{
    opacity: 0;
  }
  33%{
    opacity: 1;
  }
  50%{
    opacity: 1;
  }
  67%{
    opacity: 0;
  }
  100%{
    opacity: 0;
  }
}

@keyframes slideThreeAnim{
  0%{
    opacity: 0;
  }
  50%{
    opacity: 0;
  }
  67%{
    opacity: 1;
  }
  83%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
.row{
  
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}
.row .card{
  background: url('images/flower-bouquet10.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 400px;
  position: relative;
  margin-bottom: 1rem;
}
.row .card .detail{
  position: absolute;
  bottom: 30%;
  left: 10%;
}
.row .card h1{
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 600;
}
.row .card a{
  color: var(--purple);
  font-size: 18px;
  padding: .5rem 1.5rem;
  border: 1px solid var(--purple);
  text-transform: uppercase;
}
.row .card a:hover{
  background: var(--purple);
  color: #fff;
}
.row .card:nth-child(1){
  background: url('images/flower-bouquet10.jpg');
}
.row .card:nth-child(2){
  background: url('images/flower-bouquet11.jpg');
}
.row .card:nth-child(3){
  background: url('images/flower-bouquet12.jpg');
}

.categories{
  padding-bottom: 3%;
}
.categories .box-container{
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}
.categories .box-container .box{
  font-size: 1.5rem;
  color: gray;
  background-color: transparent;
  box-shadow: none;
  cursor: pointer;
}
.categories .box-container .box:hover{
  color: var(--purple);
}
.categories .box-container .box img{
  width: 200px;
  height: 200px;
  padding: 2px;
  margin: 1rem 0;
  border-radius: 50%;
  border: 2px solid #ececec;
}
.categories .box-container .box span{
  text-transform: uppercase;
  font-size: 16px;
}

/*----------banner 3--------------*/

.banner3{
  background-image: url('images/main-image.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  max-width: 1400px;
  margin: 3rem auto;
  padding-left: 5%;
  height: 300px;
  color: #fff;
}
.banner3 .detail{
  padding: 4% 7%;
}
.banner3 .detail h1{
  font-size: 2.5rem;
  margin: .5rem 0;
}
.banner3 .detail p{
  margin-bottom: 1.5rem;
}
.banner3 .detail a{
  text-transform: uppercase;
  color: #fff;
  padding: .5rem 2rem;
  border: 1px solid #fff;
}

.shop .box{
  position: relative;
}
.price{
  font-size: 18px
}
.name{
  font-size: 20px;
  color: var(--purple);
  margin: .5rem;
  text-transform: capitalize;
}
.shop .icon{
  position: absolute;
  right: 3%;
  top: 30%;
  display: flex;
  flex-direction: column;
  background: var(--white-alpha-40);
  visibility: hidden;

}

.icon{
  position: absolute;
  right: 3%;
  top: 30%;
  display: flex;
  flex-direction: column;
  background: var(--white-alpha-40);
  visibility: hidden;

}

.box:hover .icon{
  visibility: visible;
}

.shop button:hover{
  cursor: pointer;
}
.shop .box:hover .icon{
  visibility: visible;
}
.shop .icon a,
.shop .icon button{
  margin: .2rem 0;
  padding: .3rem;
  border: 1px solid #cecece;
  color: gray;
}
.shop img{
  width: 100%;
}
.shop .more{
  width: 150px;
  height: 70px;
  border-radius: 50%;
  text-align: center;
  margin: .5rem auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: gray;
  border: 1px solid gray;
}

.shop .more a{
  margin-bottom: .6rem;
  color: gray;
  text-transform: capitalize;
}
.shop .more a:hover{
  color: var(--purple);
}
.shop .more:hover{
  border: 1px solid var(--purple);
  color: var(--purple);
}

.banner{
 
    width: 100%;
    height: 300px;
  
    background-image: url('images/banner.jpg');
    display: flex;
    background-repeat: no-repeat;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000000;
  
}

.banner-2{
  width: 100%;
  height: 250px;

  background-image: url('images/shopmain.jpg');
  display: flex;
  
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #000000;
}


.banner h1{

  font-size: 5rem;
  position: relative;
  text-transform: capitalize;
}
.banner p{
  font-size: 18px;
}

.view_page{
  padding: 5% 8%;
}
.view_page form{
  display: flex;
  justify-content: center;
  align-items: center;
}
.view_page form img{
  width: 50%;
  margin-right: 50px;
}
.view_page form .name{
  font-size: 3rem;
  color: var(--purple);
}
.view_page form .detail,
.view_page form .price{
  font-size: 18px;
  color: gray;
  line-height: 2;
}
.view_page form .price{
  font-size: 24px;
}
.view_page form .quantity{
  width: 60%;
  box-shadow: none;
  border: 1px solid var(--purple);
  border-radius: 0;
  margin-top: 1rem;
}
.view_page button{
  background: var(--purple);
  color: #fff;
  margin-top: 1rem;
  pad: .8rem 1rem;
  height: 40px;
  width: 40px;  
}
.view_page button:hover {
  background: #fff;
  color: var(--purple);
  cursor: pointer;
}

/*----------cart page--------------*/
.disabled{
  pointer-events: none;
  opacity: .5;
}
.cart_total{
  max-width: 1200px;
  box-shadow: var(--box-shadow);
  margin: 2rem auto;
  border: 1px solid gainsboro;
  text-align: center;
  padding: 3rem 0;
  line-height: 2;
  text-transform: capitalize;
}
.cart_total p{
  font-size: 1.5rem;
}
.cart_total a{
  text-transform: capitalize;
  font-size: 16px;
  margin-right: 2rem;
}
.qty{
  display: flex;
  justify-content: space-between;
}
.qty input[type='number']{
  width: 35%;
}
.qty input[type='submit']{
  width: 55%;
  cursor: pointer;
  background: var(--purple);
  box-shadow: none;
  color: #fff;
}
.empty img{
  width: 50%;
}
.dlt{
  display: flex;
  justify-content:center;
}

/*----------about us--------------*/
.about{
  padding: 4%;
  max-width: 1300px;
  margin: 0 auto;
}
.about .row{
  display: flex;
  justify-content: center;
  align-items: center;
}
.about .row .detail{
  width: 50%;
  margin: 1rem;
  line-height: 1.5;
  text-align: center;
}
.about .row .detail p{
  margin-bottom: 1rem;
  line-height: 1.5;
}
.about .row .detail .img-box img{
  margin-top: 1rem;
  width: 90%;
}
.about .row .detail h1{
  text-transform: uppercase;
  text-align: center;
  margin: 1rem 0;
  color: var(--purple);
}
.row .detail h1{
  text-transform: uppercase;
  text-align: center;
  margin: 1rem 0;
  color: #fff;
}


.banner-2 h1{
  padding-bottom: 1.5rem;
}
.banner-2 .btn2{
  border: 1px solid #fff;
  color: #fff;
}
.services,

.testimonial-container{
  margin-top: -50px;
  background-size: cover;
  width: 100%;
  height: 80vh;
  padding: 8% 0;
}



.services .box-container,
.stylist .box-container{
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}
.services .box-container .box{
  line-height: 2;
  padding: 2rem 1rem;
}
.services .box-container .box h3{
  margin-top: 2rem;
  color: gray;
}
.services .box-container .box i{
  font-size: 2rem;
  border-radius: 50%;
  color: #fff;
  padding: 1.5rem;
  margin: 2rem 0;
  background: var(--purple);
  text-align: center;
}
.stylist{
  background: url(images/white-flower.jpg);
  padding: 4% 0;
  height: auto;
}
.stylist h3{
  color: var(--purple);
  text-transform: uppercase;
  margin: .5rem 0;
}
.stylist p{
  text-align: center;
  text-transform: capitalize;
}
.stylist .img-box{
  position: relative;
}
.stylist .img-box img{
  width: 100%;
}
.stylist .social-links{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,0.6);
  visibility: hidden;
  transition: .3s;
}
.stylist .img-box:hover .social-links{
  visibility: visible;
}
.stylist .social-links i{
  margin: .3rem;
  background: #fff;
  padding: .8rem;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  transition: .3s;
}
.stylist .social-links i:hover{
  background: var(--purple);
  color: #fff;
}
.testimonial-container{
  padding: 6% 0;
}
.container{
  position: relative;
  perspective: 1000px;
  padding-top: 2rem
}
.container .testimonial-item{
  background: var(--white-alpha-25);
  border: 2px solid var(--white-alpha-40);
  backdrop-filter: var(--backdrope-filter-blur);
  box-shadow: var(--box-shadow);
  border-radius: 5px;
  color: gray;
  margin: 0 auto;
  text-align: center;
  padding: 1rem;
  transition: .4s;
  display: none;
  width: 50vw;
}
.container .testimonial-item.active{
  display: block;
}
.container .testimonial-item h3{
  color: var(--purple);
  font-size: 1.3rem;
  padding-bottom: .5rem;
  text-transform: capitalize;
}
.container .testimonial-item img{
  padding: 1rem 0;
  border-radius: 50%;
  width: 50%;
}
.container .left-arrow,
.container .right-arrow{
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  font-size: 1rem;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--purple);
  color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.right-arrow{
  right: 3rem;
  margin: 6rem;
}
.left-arrow{
  margin: 7rem;
  left: 1rem;
}
.right-arrow:hover,
.left-arrow:hover {
  color: var(--purple);
  background: #fff;
}

/*----------contact page--------------*/

.help{
  padding: 5% 0;
}

.help .box-container .box  img{
  width: 50px;
  height: 50px;
}
.help .box-container .box h2{
  font-size: 1.2rem;
  color: var(--purple);
  text-transform: uppercase;
  margin: .5rem 0;
}
.help .box-container .box p{
  font-size: 18px;
  color: gray;
  margin: 1rem 0;
}

.form-container{
  background-image: url('images/message.jpg');
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
.form-container .form-section{
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 6%;
  padding-bottom: 5%;
}
.form-container .form-section form{
  width: 50vw;
  background: var(--white-alpha-25);
  box-shadow: var(--box-shadow);
  padding: 2rem;
  border-radius: 10px;
  backdrop-filter: var(--backdrope-filter-blur);
}
.form-container .form-section form h1{
  text-transform: capitalize;
  text-align: center;
  color: var(--purple);
  margin: 1rem 0;
}

.form-container .form-section form p{
  text-transform: capitalize;
  text-align: center;
  color: gray;
}
.display-order{
  box-shadow: var(--box-shadow);
  width: 50vw;
  margin: 1rem auto;
  text-align: center;
  line-height: 2;
}
.display-order span{
  display: inline-block;
  background: #ececec;
  padding: .4rem;
  margin: .5rem auto;
  border-radius: 3px;
  text-transform: capitalize;
}
.display-order .grand-total{
  width: 90%;
  background: var(--purple);
  color: #fff;
  cursor: pointer;
}

/*----------checkout--------------*/

.checkout-form form{
  width: 50vw;
  box-shadow: var(--box-shadow);
  margin: 2rem auto;
  padding: 2rem;
  border-radius: 10px;
}
.input-field label{
  margin: .6rem 0;
}






/*----------media screen--------------*/

@media (max-width: 991px){
  #menu-btn{
    display: block;
  }
  .header .flex .navbar{
    position: absolute;
    top: 149%;
    left: 0;
    right: 0;
    border-top: 1px solid #aa4ff3;
    background: #fff;
    transition: .3s ease;
    clip-path: polygon(0 0, 100% 0,100% 0, 0 0);
  }
  .header .flex .navbar.active{
    clip-path: polygon(0 0, 100% 0,100% 100%, 0 100%);
  }
  .header .flex .navbar a{
    display: block;
    margin: 2rem;
  }
  .form-container .form-section form{
    width: 90%;
    margin: auto;
  }
}